<div id="sae-welcome" fxLayout="column" fusePerfectScrollbar>
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">

    <div class="hero-text mb-32">
      <h1>Activity Creator Form Documentation</h1>
      <h3>Everything you need to know about Activity Creator Form</h3>
    </div>

  </div>
  <div class="w-100-p">
    <div class="" fxFlex>
      <div class="content">
        <h2>How the Documentation is organized?</h2>

        <p>Activity Creator Form has a lot of documentation found under Noctua
          <a href="http://wiki.geneontology.org/index.php/Noctua">
            Noctua Documentation</a> . A high-level overview of how it's organized will help you know where to look for certain
          things:
        </p>
        <ul>
          <li>
            <p>
              <a [routerLink]="'/guides'">
                How-to guides
              </a>
              are recipes. They guide you through the steps involved in addressing key problems and use-cases. They are more advanced than
              tutorials and assume some knowledge of how Activity Creator Form works.</p>
          </li>
          <li>
            <p>

              <a [routerLink]="'/tutorials'">
                Tutorials
              </a>
              Tutorials take you by the hand through a series of steps to create an activity. Start here if you&rsquo;re new to Noctua
              and Activity Creator Form. Also look at the &ldquo;First steps&rdquo; below.</p>
          </li>
          <li>
            <p>
              <a [routerLink]="'/topics'">
                Topic Guides
              </a> discuss key topics and concepts at a fairly high level and provide useful background information and explanation.
            </p>
          </li>
          <li>
            <p>
              <a [routerLink]="'/reference'">
                Reference Guides
              </a>
              describe how it works and how to use it but assume that you have a basic understanding of key concepts. In the near future
              will contain technical reference for APIs and other aspects of Creator Activity Form.</p>
          </li>
        </ul>
        <h2>First steps</h2>
        <p>Depending how new you are to Noctua and Activity Creator Form, you can try a tutorial, or just dive into the documentation.</p>
        <p>From scratch: Overview</p>
        <p>Tutorial: Part 1: Create a</p>
      </div>
    </div>
    <div class="sae-quick-panel-right">
      geneontology
    </div>
  </div>
</div>
